<!DOCTYPE html>
<html>
<head>
    <title>User Search</title>
</head>
<body>
    <h2>User List</h2>

    <form method="GET" action="/">
        <input type="text" name="search" placeholder="Search by name or email" value="<%= search %>">
        <button type="submit">Search</button>
    </form>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        <% users.forEach(user => { %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
        </tr>
        <% }) %>
    </table>
</body>
</html>
